html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

#viewDiv {
  position: absolute;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.page-content {
  height: 100%;
  position: relative;
  flex: 1;
}

.panel-side {
  padding: 2px;
  box-sizing: border-box;
  width: 300px;
  /*height: 100%;*/
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: -1;
  font-family: Gotham A,Gotham B,Helvetica,sans-serif;
}

.panel-side h2 {
  padding: 0 20px;
  margin: 20px 0;
}

.panel-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel-side li {
  list-style: none;
  padding: 10px 20px;
}

.panel-result {
  cursor: pointer;
  margin: 2px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-result:hover, .panel-result:focus {
  color: #84DCB4;
  background-color: rgba(0, 0, 0, 0.75);
}

byu-footer {
  z-index: 5;
  /*position: fixed;
  bottom: 0;
  width: 100%;*/
}
